<div class="booyah-box-brown col-10 offset-1">
    <h2 style="text-align:center">
    <% flash.each do |type, msg| %>
            <%= msg %>
    <% end %>
    </h2>
    <br><h2 style="color:black;">Game Name: </h2><h2><%= @game.title %></h2><br><br>
    <div class="throne-wrapper">
    <%= image_tag("iron-throne.png", size: "100x100", class: "throne") %>
    <%= image_tag User.find_by(id: @game.player_2_id).avatar.variant(resize: "50x50"), class: "rounded-circle" %>
    </div>
    <p style="text-align:center"><h2 style="color:white;">Player 2: </h2><h5><%= User.find_by_id(@game.player_2_id).email %></h5></p>
    <p style="text-align:center"><h2 style="color:white;">Properties: </h2></p>
    <div class="owned-property-wrapper">
        <% @game.properties.where(owner_id: @game.player_2_id).order(:color).each do |prop| %>
            <div class="owned-property-unit">
                <div class="icon <%= prop.color %>"></div>
                <div class="owned-property-name"><%= prop.name %></div>
                <div id="mortgage<%= prop.div_id %>" class="mortgage-form">
                <form id="mortgage<%= prop.div_id %>-<%= prop.div_id %>">
                    <% if prop.mortgaged == false  %>
                        <input type='button' onclick="submitFrmMortgageAjax();" value="Mortgage"
                        <% if prop.owner_id != current_user.id ||
                        ( @game.properties.where(color: prop.color).where("houses > ?", 0).count > 0 ||
                          @game.properties.where(color: prop.color).where("hotels > ?", 0).count > 0)  %>
                            disabled
                        <% end %>
                        >
                    <% else %>
                        <input type='button' onclick="submitFrmUnmortgageAjax();" value="Unmortgage"
                        <% if prop.owner_id == current_user.id %>
                        >
                        <% else %>
                        disabled>
                        <% end %>
                    <% end %>
                </form>
                </div>
                <div id="house<%= prop.div_id %>" class="house-form">
                <form id="house<%= prop.div_id %>-<%= prop.div_id %>">
                    <input type='button' onclick="submitFrmHouseAjax();" value="+1 House"
                    <% if prop.is_set_owned_by(current_user.id) == false %>
                        disabled>
                    <% else %>
                        >
                    <% end %>
                </form>
                </div>
            </div>
        <% end %>
    </div>
    <br>
    <p style="text-align:center color:white;">Balance:
    <%= UserGame.find_by(user_id: @game.player_2_id, game_id: @game.id).balance %></p>
    <p style="text-align:center"><h2><a href="/">Return to Menu</a></h2></p>
</div>