
<div id="fc" class="flex-container">
    <%= render "big-container", locals: {:game => @game, :usergame => @usergame, :property => @property} %>
</div>

<%= form_tag "#", :id => 'move'%>

<script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.6.1/firebase-database.js"></script>

<script>
    function submitFrmRollAjax(){
       $("#rollbtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/roll",
             data : $("form").serialize()
        });
    }

    function submitFrmPurchaseAjax(){
       $("#purchasebtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s =%>/purchase",
             data : $("form").serialize()
        });
    }

    function submitFrmPassAjax(){
        $("#passbtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/pass",
             data : $("form").serialize()
        });
    }

    function submitFrmPenaltyAjax(){
        $("#penaltybtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/penalty",
             data : $("form").serialize()
        });
    }

    function submitFrmPayRentAjax(){
        $("#payrentbtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/pay_rent",
             data : $("form").serialize()
        });
    }

    function submitFrmChanceAjax(){
        $("#chancebtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/chance",
             data : $("form").serialize()
        });
    }

    function submitFrmJailAjax(){
        $("#jailbtn").attr("disabled", true);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/jail",
             data : $("form").serialize()
        });
    }

    function submitFrmMortgageAjax(button){
        console.log("mortgage");
        var mortgage_id = button.parentElement.id.split("-",2)[1];
        console.log(mortgage_id);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/mortgage/"+mortgage_id,
             data : $("form").serialize()
        });
    }

    function submitFrmUnmortgageAjax(button){
        console.log("unmortgage");
        var mortgage_id = button.parentElement.id.split("-",2)[1];
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/unmortgage/"+mortgage_id,
             data : $("form").serialize()
        });
    }

    function submitFrmHouseAjax(){
        console.log("house");
        var house_id = event.currentTarget.form.id.split("-",2)[1];
        console.log(house_id);
       $.ajax({
             url : "/games/<%= @game.id.to_s %>/house/"+house_id,
             data : $("form").serialize()
        });
    }

    function update_piece() {
        console.log("update piece");
        var piece = event.currentTarget.currentSrc.split("/",5)[4].split("_",2)[0];
        $.ajax({
             url : "/games/<%= @game.id.to_s %>/update_piece/"+piece,
             data : $("form").serialize()
        });
    }

    function init_draggables_and_droppables() {

        var i;
        for (i = 0; i < 40; i++) {
            if (document.contains(document.getElementById(i + "-1-" + <%= @user_id1 %>))) {
            document.getElementById(i + "-1-" + <%= @user_id1 %>).remove();
            }
        }

        var j;
        for (j = 0; j < 40; j++) {
            if (document.contains(document.getElementById(j + "-1-" + <%= @user_id2 %>))) {
            document.getElementById(j + "-1-" + <%= @user_id2 %>).remove();
            }
        }

        var position = <%= @usergame1.position %>;
        var piece = "<%= image_path(@usergame1.piece) %>";
        var user_id = <%= @user_id1 %>;

        var img = document.createElement("img");
        img.src = piece;
        console.log("img.src:");
        console.log(img.src);
        img.setAttribute("height", "23");
        img.setAttribute("width", "23");
        img.setAttribute("id", position + "-1-" + user_id);
        var src = document.getElementById(position + "-1");
        src.appendChild(img);

        var position = <%= @usergame2.position %>;
        var piece = "<%= image_path(@usergame2.piece) %>";
        var user_id = <%= @user_id2 %>;

        var img = document.createElement("img");
        img.src = piece;
        console.log("img.src:");
        console.log(img.src);
        img.setAttribute("height", "23");
        img.setAttribute("width", "23");
        img.setAttribute("id", position + "-1-" + user_id);

        var src = document.getElementById(position + "-1");
        src.appendChild(img);

        var m;
        var n;
        for (m = 0; m < 40; m++) {
            for (n = 0; n < 4; n++) {
                if (document.contains(document.getElementById(m + "-2-" + n))) {
                document.getElementById(m + "-2-" + n).remove();
                }
            }
        }

        var k;
        <% @game.properties.where("houses > ?", 0).each do |h| %>
            
            for (k = 0; k < <%= h.houses %>; k++) {

                var img = document.createElement("img");
                img.src = "<%= image_path("house.png") %>";
                img.setAttribute("height", "12");
                img.setAttribute("width", "12");
                img.setAttribute("id", <%= h.div_id %> + "-2-" + k);
                console.log("House id:");
                console.log(<%= h.div_id %> + "-2-" + k);
                var src = document.getElementById(<%= h.div_id %> + "-2");
                src.appendChild(img);
                console.log("appended");
            }

        <% end %>

        <% @game.properties.where("hotels > ?", 0).each do |h| %>

        for (k = 0; k < <%= h.hotels %>; k++) {

            var img = document.createElement("img");
            img.src = "<%= image_path("hotel.png") %>";
            img.setAttribute("height", "12");
            img.setAttribute("width", "12");
            img.setAttribute("id", <%= h.div_id %> + "-2-" + k);
            console.log("Hotel id:");
            console.log(<%= h.div_id %> + "-2-" + k);
            var src = document.getElementById(<%= h.div_id %> + "-2");
            src.appendChild(img);
            console.log("appended");
        }

        <% end %>

        $(".draggable").draggable({ revert: 'invalid' });
        $(".droppable").droppable({
            drop: function( event, ui ) {
                var pid = $(this).parent().attr("id");
                console.log("Parent ID:")
                console.log(pid);
                console.log("drop");
                
            }     
        });

    }

    jQuery(function($) {

        //Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyCa0OdzNtqg2CRUQibJT8ZxYjocMs8M3lQ",
            authDomain: "fir-chess-270721.firebaseapp.com",
            databaseURL: "https://fir-chess-270721.firebaseio.com",
            projectId: "firebase-chess-270721",
            storageBucket: "firebase-chess-270721.appspot.com",
            messagingSenderId: "883177546382",
            appId: "1:883177546382:web:60cc4e9cb5d519c386dfdf",
            measurementId: "G-WWMKRY87V7"
        };
        //Initialize Firebase
        firebase.initializeApp(firebaseConfig);

        var gamesRef = firebase.database().ref('mgames/' + '<%= @game.firebase_id %>');

        gamesRef.on('child_changed', function(snapshot) {

            $.ajax({
                    type: "GET",
                    url: "/games/<%= @game.id %>/load_board",
                    success: function(){
                    console.log("child changed: load board refresh success"); 
                    }
                });

        }, function(error) {
            console.error(error);
        });

        init_draggables_and_droppables();
    });

</script>
